// ============================================================
// Cursor — Niri / DMS
// Keeps cursor theme consistent across Wayland and XWayland.
// ============================================================

cursor {
    xcursor-theme "Adwaita"
    // 20px = proporcional ao scale 0.875 nos monitores 1080p
    xcursor-size 20

    hide-when-typing
    hide-after-inactive-ms 3000
}

